@page
@model IndexModel
@{
    ViewData["Title"] = "License Management";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<hr />
<div class="">
    <div id="resetPasswordWrapper" class="ml-auto mr-auto centered-content-layout">
        <h3 class="page-title"><span>Generate</span> License</h3> [NO VALIDATIONS]
        <form method="post" id="license_form" class="custom-form-styles">
            <input asp-for="License.Id" type="hidden" />
            <div class="form-group">
                <label for="HardwareId" class="col-form-label-sm">HardwareId</label>
                <input asp-for="HardwareId" type="text" class="form-control" readonly="readonly" />
            </div>
            <hr />
            <div class="form-group">
                <input asp-for="License.Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="License.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="License.DateFrom" class="form-control" placeholder="Date From" />
                <span asp-validation-for="License.DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="License.DateTo" class="form-control" placeholder="Date To" />
                <span asp-validation-for="License.DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="License.NumberOfConcurrentUserSessionsAllowed" class="form-control" placeholder="Number Of Concurrent User Sessions Allowed" />
                <span asp-validation-for="License.NumberOfConcurrentUserSessionsAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="License.CreatedBy" class="form-control" placeholder="Created By" />
                <span asp-validation-for="License.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="License.Active" class="col-form-label-sm">Active</label>

                <input asp-for="License.Active" class="form-control" placeholder="Active" />
                <span asp-validation-for="License.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="License.UsersCount" class="form-control" placeholder="Users Count" />
                <span asp-validation-for="License.UsersCount" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Raw("|")
            <a title="Export License" href="#" class="export-license-btn">Export License</a>
            @Html.Raw("|")
        </form>
    </div>
</div>

<script>
    var generalOptions = {};

    var options = {
        urls: {
            importLicense: '/Licenses/Import',
            exportLicense: '/Licenses/Export'
        }
    };

    $(document).ready(function () {

        $("#pageLoader").show();
        LicensesController.init();
    });
</script>
<script src="~/js/common-controller.js"></script>
<script src="~/js/import-controller.js"></script>
<script src="~/js/licenses-controller.js"></script>

